<!DOCKTYPE html>
{% load static %}

<head>
    <title>TATA</title>
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}">
	 <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static "js/jss.js" %}"></script>

 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 <p class="text-primary" style="position:fixed;right:1%;bottom:0%;">Current user:{{data1.user}}</p>
    </head>
     </header>  
	 
       
		<nav class="navbar navbar-expand-sm bg-light" style="position:fixed;width:100%;z-index:1">
		<ul class="navbar-nav">
		   <div style="position:relative;left:7%">
            <h1><span class="badge badge-secondary"><a href="home" class="text-white">Home</a></span>
                <span class="badge badge-secondary"><a href="car" class="text-white">Car</a></span>
                <span class="badge badge-secondary"><a href="gallery" class="text-white">Gallery</a></span>
                <span class="badge badge-secondary"><a href="book_now" class="text-white">Book Now</a></span>
				<span class="badge badge-secondary"><a href="login" class="text-white">{{data1.log}}</a></span>
                <span class="badge badge-secondary"><a href="find_us" class="text-white">Find Us</a></span>
                <span class="badge badge-secondary"><a href="contact_us" class="text-white">Contact Us</a></span>
				
			</div>	
			 </ul>
			 </nav>
        
    </header>
	    <body>
		<div id="slide-container"  ></div>
		<div class="container mt-3" style="position:absolute;left:10%;top:15%;">
  <h2>Select your car</h2>
  <p></p>
  <div class="form-group column">
  <div class="col-xs-1">
  <form action="imshow" method="post" id="form_car">
  {% csrf_token %}
    <select name="cars" class="custom-select mb-3" id="cars" style="width:50%">
	 
      <option selected >Select your car</option>
      {% for i in data2.car_name %}
      <option value={{i.car_name}}>{{i.car_name}}</option>
	  {% endfor %}
    </select>
	<select name="variants" class="custom-select mb-3" id="variants" style="width:50%">
      <option selected value=0>Select your variant</option>
    </select>
	<select name="bhp" class="custom-select mb-3" id="bhp" style="width:50%">
      <option selected value=0>Select your BHP</option>

    </select>
	<select name="cc" class="custom-select mb-3" id="cc" style="width:50%">
      <option selected value=0>Select your CC</option>
	
    </select>
	<select name="transmission" class="custom-select mb-3" id="transmission" style="width:50%">
      <option selected value=0>Select your transmission</option>
    </select>
	<select name="fuel" class="custom-select mb-3" id="fuel" style="width:50%">
      <option selected value=0>Select your fuel type</option>
    </select>
	</br>
	
	 {% csrf_token %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
</div>  
<div style="position:absolute;left:50%;bottom:10%;" id="price_tag">
<span class="badge badge-pill badge-primary"><h1 id="price">710000</h1></span>
</div> 
<div class="testdrive">
		<button class="btn btn-primary"  data-toggle="modal" onclick="start_testdrive()">
        <span class="spinner-grow spinner-grow-sm"></span>
         BOOK A TEST DRIVE NOW
         </button>
		</div>
<div class="container">


  <!-- The Modal -->
  <div class="modal fade" id="testdrive_modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><span class="badge badge-info">Book for Test Drive</span></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <table class="table table-dark">
    <tbody>
	<form id="testdrive_form"  action="testdrive" method="post">
	{% csrf_token %}
      <tr><td>Your Name</td><td><input type="text" class="form-control" name="name"></td></tr>
	  <tr><td>Email</td><td><input type="email" class="form-control" name="email"></td></tr>
	  <tr><td>Contact No</td><td><input type="number" class="form-control" name="phone" min="1000000000" max="9999999999"></td></tr>
	  <tr><td>Prefered date</td><td><input type="date" name="date"></td></tr>
	  <tr><td>Message</td><td><textarea class="form-control" rows="5" name="message"></textarea></td></tr>
	  <tr><td><input type="submit" class="btn btn-primary  btn"  value="Submit"></td><td></td></tr>
     </form>
	 
    </tbody>
  </table>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>





		</body>

        

        </html>